@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Passions+Conflict&family=Petemoss&family=Shippori+Antique&display=swap");

.imguser {
  width: 2.5rem;
}

.containeruser {
  margin-right: 5rem;
}

.iconbrand {
  width: 6.4rem;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.nav-link {
  color: black !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #3ec4d6 !important;
}

.containerHero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.containerHero h1 {
  color: whitesmoke;
  font-weight: 550;
  font-size: 20vmin;
  font-family: "Petemoss", "cursive";
}

.containerHero .containerH3{

  display: flex;
  flex-direction: column;
  align-items: center;

}



.containerHero h3 {
  text-align: center;
  font-size: 4vmin;
  color: #000000;
  background-color: white;
  padding: .3rem;
  border-radius: 5px;

}

.containerHero .buttonHero {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 1rem;
  border-radius: 5px;
}

.containerHero .buttonHero:hover {
  background-color: white;
  color: black;
}

.containerHero .buttonHero:active {
  font-size: 0.8rem;
}

/* footer */

footer {
  background-image: url("https://cdn.pixabay.com/photo/2021/01/05/11/19/bled-5890874_960_720.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: -4.9rem;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .copy {
  font-weight: bold;
  font-size: 1.1rem;
  transform: translateX(5rem);
}

footer .redesIcon {
  width: 3rem;
  margin-right: 1rem;
}

footer .twitter {
  width: 2.7rem;
}

footer .navegation {
  display: flex;
  flex-direction: column;
  transform: translateX(5rem);
}

footer .navegation a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
}

footer .navegation a:hover {
  color: aquamarine;
}

@media only screen and (min-width: 280px) and (max-width: 768px) {
  .menuH {
    /* border: 1px solid black !important; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .menuHC {
    margin: 0 auto;
  }

  .containeruser {
    margin-right: 0rem;
    /* border: 1px solid black !important; */
    width: 3rem;
    
  }

  .imguser {
    width: 2rem;
  }



  footer {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-image: url("https://cdn.pixabay.com/photo/2021/01/05/11/19/bled-5890874_960_720.jpg");
    background-size: auto;
    background-position: center;
    background-position-y: -4rem;
  }

  footer .navegation {
    display: flex;
    flex-direction: row;
    transform: translateX(0rem);
    margin: 0 auto;
    width: 16.4rem;
    /* border: 1px solid black; */
  }

  footer .navegation a {
    text-decoration: none;
    font-weight: bold;
    /* color: black; */
    margin-right: 1rem;
  }

  footer .copy {
    /* border: 1px solid black; */
    font-weight: bold;
    font-size: 1.1rem;
    margin: 1rem auto;
    width: 16rem;
    transform: translateX(0rem);
  }
}
