@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Passions+Conflict&family=Petemoss&family=Shippori+Antique&display=swap");

.imguser {
  width: 2.5rem;
}

.containeruser {
  margin-right: 5rem;
}

.iconbrand {
  width: 6.4rem;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.nav-link {
  color: black !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #3ec4d6 !important;
}

.containerHero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.containerHero h1 {
  color: whitesmoke;
  font-weight: 550;
  font-size: 20vmin;
  font-family: "Petemoss", "cursive";
}

.containerHero .containerH3{

  display: flex;
  flex-direction: column;
  align-items: center;

}



.containerHero h3 {
  text-align: center;
  font-size: 4vmin;
  color: #000000;
  background-color: white;
  padding: .3rem;
  border-radius: 5px;

}

.containerHero .buttonHero {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 1rem;
  border-radius: 5px;
}

.containerHero .buttonHero:hover {
  background-color: white;
  color: black;
}

.containerHero .buttonHero:active {
  font-size: 0.8rem;
}

/* Carousel */

.h1Galery{

  text-align: center;
  padding: 1rem;
  background: linear-gradient(129deg, rgba(131,210,242,1) 33%, rgba(230,225,238,1) 65%);
  color: black;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Petemoss", "cursive";
  font-size: 5rem;

}

.divGalery{
  /* border: 1px solid black; */
  height: 30rem;
  margin-top: 5rem ;

}

.galery{
  /* margin-top: 5rem; */
  /* border: 1px solid black; */
}

.galGalery{
  border: 1px solid black;
  margin-right: 1rem;
  margin-left: 1rem;
  background: linear-gradient(129deg, rgba(131,210,242,1) 33%, rgba(230,225,238,1) 65%);
}

.imgGalery{
  width: 18rem;
  margin: 2rem auto;
  /* margin-right: 2rem; */
}


.titleGalery{

  text-align: center;
  color: black;
  

  
}

.slides {
  
  /* left: 2rem; */
  /* border: 1px solid black; */
  /* margin-right: 5rem; */
}

.slick-slide {
  
  /* margin-right: 1rem; */
}
/* the parent */
.slick-list {
  /* margin-right: 21rem; */
}



.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slick-prev:before, .slick-next:before{
  font-size: 30px !important;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}





/* footer */



footer {
  background-image: url("https://cdn.pixabay.com/photo/2021/01/05/11/19/bled-5890874_960_720.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: -4.9rem;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .copy {
  font-weight: bold;
  font-size: 1.1rem;
  transform: translateX(5rem);
}

footer .redesIcon {
  width: 3rem;
  margin-right: 1rem;
}

footer .twitter {
  width: 2.7rem;
}

footer .navegation {
  display: flex;
  flex-direction: column;
  transform: translateX(5rem);
}

footer .navegation a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
}

footer .navegation a:hover {
  color: aquamarine;
}

@media only screen and (max-width: 1024px){

  .imgGalery{
    width: 14rem;
    margin: 2rem auto;
    /* margin-right: 2rem; */
  }

}

@media only screen and (min-width: 280px) and (max-width: 768px) {

  /* Navbar */

  .menuH {
    /* border: 1px solid black !important; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .menuHC {
    margin: 0 auto;
  }

  .containeruser {
    margin-right: 0rem;
    /* border: 1px solid black !important; */
    width: 3rem;
    
  }

  .imguser {
    width: 2rem;
  }


  /* carrucel */

  .h1Galery{

    
    font-size: 3rem;
  
  }

  .imgGalery{
    width: 14rem;
    margin: 2rem auto;
    /* margin-right: 2rem; */
  }



  /* footer */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-image: url("https://cdn.pixabay.com/photo/2021/01/05/11/19/bled-5890874_960_720.jpg");
    background-size: auto;
    background-position: center;
    background-position-y: -4rem;
  }

  footer .navegation {
    display: flex;
    flex-direction: row;
    transform: translateX(0rem);
    margin: 0 auto;
    width: 16.4rem;
    /* border: 1px solid black; */
  }

  footer .navegation a {
    text-decoration: none;
    font-weight: bold;
    /* color: black; */
    margin-right: 1rem;
  }

  footer .copy {
    /* border: 1px solid black; */
    font-weight: bold;
    font-size: 1.1rem;
    margin: 1rem auto;
    width: 16rem;
    transform: translateX(0rem);
  }
}
