@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Passions+Conflict&family=Petemoss&family=Shippori+Antique&display=swap");

/* Navbar */

.imguser {
  width: 2.5rem;
}

.containeruser {
  margin-right: 5rem;
}

.iconbrand {
  width: 6.4rem;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.nav-link {
  color: black !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #3ec4d6 !important;
}

/* Hero */

.containerHero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.containerHero h1 {
  color: whitesmoke;
  font-weight: 550;
  font-size: 20vmin;
  font-family: "Petemoss", "cursive";
}

.containerHero .containerH3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerHero h3 {
  text-align: center;
  font-size: 4vmin;
  color: #000000;
  background-color: white;
  padding: 0.3rem;
  border-radius: 5px;
}

.containerHero .buttonHero {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

.containerHero .buttonHero:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.containerHero .buttonHero:active {
  font-size: 0.8rem;
}

/* Carousel */

.h1Galery {
  text-align: center;
  padding: 3rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Petemoss", "cursive";
  /* font-size: 5rem; */
  font-size: 20vmin;
}

.divGalery {
  height: 100%;
  margin-top: 5rem;
  /* border: 1px solid black; */
  /* width: 60rem; */
  margin: 0 auto;
}

.galGalery {
  border: 1px solid black;
  border-radius: 5px;
  width: 25.1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  /* margin-right: 1rem; */
  /* margin-left: 1rem; */
  /* background: linear-gradient(129deg, rgba(131,210,242,1) 33%, rgba(230,225,238,1) 65%); */
  background-color: black;
}

.imgGalery {
  width: 25rem;
  margin: 0 auto;
}

.titleGalery {
  text-align: center;
  color: white;
  /* border: 1px solid black; */
  padding: 1rem;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
  /* background-color: black; */
  color: black !important;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}

/* cities */

.citiesGalery {
  height: 100%;
  margin-top: 5rem;
  /* border: 1px solid black; */
  /* width: 60rem; */
  margin: 0 auto;
}

.citiesH2Input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid black; */
  align-items: center;
  height: 6rem;
  margin-bottom: 5rem;
}

.citiInput {
  border: 1px solid black;
}

/* City */

.containerCity {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.containerCityInfo {
  /* border: 1px solid black; */
  /* background-color: black; */
  padding: 1rem;
}

.containerCityInfo > h3 {
  /* font-family: "Petemoss", "cursive"; */
  /* text-align: center; */
  color: white;
  /* font-size: vmin; */

}

.containerImgCity {
  border: 1px solid black;
}

.titleCity {
  font-family: "Petemoss", "cursive";
  font-size: 15vmin;
  text-align: center;
}

.linktocity{
  text-decoration: none;
  
}

.imgCity {
  width: 30rem;
}
.divButtonCity{
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.buttonCity{
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}

.buttonCity:hover{
  padding: .9rem;
}


.containerEmpty{
  
  width: 100% !important;
  margin-top: 2rem;
  
}

.ayudaa{
  
  width: 20rem;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.ayudaa > h1{

  font-family: "Petemoss", "cursive";  
  font-size: 12vmin;
  text-align: center;

}

/* footer */

footer {
  /* background-image: url("https://cdn.pixabay.com/photo/2021/01/05/11/19/bled-5890874_960_720.jpg"); */
  background-image: url("https://cdn.pixabay.com/photo/2017/02/26/09/43/beatenberg-2099823_960_720.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: -13rem;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .copy {
  font-weight: bold;
  font-size: 1.1rem;
  transform: translateX(5rem);
}

footer .redesIcon {
  width: 3rem;
  margin-right: 1rem;
}

footer .twitter {
  width: 2.7rem;
}

footer .navegation {
  display: flex;
  flex-direction: column;
  transform: translateX(5rem);
}

footer .navegation a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
}

footer .navegation a:hover {
  color: aquamarine;
}



@media only screen and (max-width: 1024px) {

  /* cities */
  .citiesGalery {
    height: 100%;
    margin-top: 5rem;
    /* border: 1px solid black; */
    /* width: 60rem; */
    margin: 0 auto;
  }
  /* city */

  .divButtonCity{
    margin-top: 2rem;
    margin-bottom: 29rem;
  }


  /* footer */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/26/09/43/beatenberg-2099823_960_720.jpg");
    background-size: cover;
    background-position: center;
    background-position-y: -4rem;
  }

  footer .navegation {
    display: flex;
    flex-direction: row;
    transform: translateX(0rem);
    margin: 0 auto;
    width: 16.4rem;
  }

  footer .navegation a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 1rem;
  }

  footer .copy {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 1rem auto;
    width: 16rem;
    transform: translateX(0rem);
  }
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
  /* Navbar */

  .menuH {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .menuHC {
    margin: 0 auto;
  }

  .containeruser {
    margin-right: 0rem;
    width: 3rem;
  }

  .imguser {
    width: 2rem;
  }

  /* carousel */

  .divGalery {
    height: 50rem;
  }

  .h1Galery {
    font-size: 15vmin;
  }

  .galGalery {
    border: 1px solid black;
    border-radius: 5px;
    width: 23rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    /* margin-right: 1rem; */
    /* margin-left: 1rem; */
    /* background: linear-gradient(129deg, rgba(131,210,242,1) 33%, rgba(230,225,238,1) 65%); */
    background-color: black;
  }
  
  .imgGalery {
    width: 23rem;
    margin: 0 auto;
  }

  
  /* cities */

  .citiesGalery {
    height: 100%;
    margin-top: 5rem;
    /* border: 1px solid black; */
    /* width: 60rem; */
    margin: 0 auto;
  }
  

  /* city */

  .containerCity {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
  }

  .containerCityInfo {
    /* border: 1px solid black; */
    display: flex;
    width: 35rem;
    margin: 0 auto;
    /* background-color: black; */
  }

  .containerCityInfo >h3{

    margin-left: 2rem;
    font-size: .8rem;
    
  }

  .divButtonCity{
    margin-top: 2rem;
    margin-bottom: 9rem;
  }

  /* footer */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/26/09/43/beatenberg-2099823_960_720.jpg");
    background-size: auto;
    background-position: center;
    background-position-y: -4rem;
  }

  footer .navegation {
    display: flex;
    flex-direction: row;
    transform: translateX(0rem);
    margin: 0 auto;
    width: 16.4rem;
  }

  footer .navegation a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 1rem;
  }

  footer .copy {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 1rem auto;
    width: 16rem;
    transform: translateX(0rem);
  }
}

@media only screen and (max-width: 600px) {
  /* Navbar */

  .menuH {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .menuHC {
    margin: 0 auto;
  }

  .containeruser {
    margin-right: 0rem;
    width: 3rem;
  }

  .imguser {
    width: 2rem;
  }

  /* Carrucel */

  .h1Galery {
    font-size: 15vmin;
  }

  .divGalery {
    height: 90rem;
  }

  .galGalery {
    border: 1px solid black;
    border-radius: 5px;
    width: 25.1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    /* margin-right: 1rem; */
    /* margin-left: 1rem; */
    /* background: linear-gradient(129deg, rgba(131,210,242,1) 33%, rgba(230,225,238,1) 65%); */
    background-color: black;
  }
  
  .imgGalery {
    width: 25rem;
    margin: 0 auto;
  }

 

  /* cities */

  .citiesGalery {
    height: 100%;
    margin-top: 5rem;
    /* border: 1px solid black; */
    /* width: 60rem; */
    margin: 0 auto;
  }
  

  /* City */

  .containerCity {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
  }

  .containerCityInfo {
    /* border: 1px solid yellow; */
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 35rem; */
    /* margin: 0 auto; */
    /* background-color: black; */
  }

  .containerCityInfo >h3{

    margin-left: 1rem;
    font-size: .7rem;
    
    

  }

  .imgCity {
    width: 20rem;
  }


  .divButtonCity{
    margin-top: 2rem;
    margin-bottom: 10rem;
  }


  /* footer */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/26/09/43/beatenberg-2099823_960_720.jpg");
    background-size: auto;
    background-position: center;
    background-position-y: -4rem;
  }

  footer .navegation {
    display: flex;
    flex-direction: row;
    transform: translateX(0rem);
    margin: 0 auto;
    width: 16.4rem;
  }

  footer .navegation a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 1rem;
  }

  footer .copy {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 1rem auto;
    width: 16rem;
    transform: translateX(0rem);
  }
}
